body {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: poppins,Lora, sans-serif;
    list-style-type: none;
    max-width: 1200px;
}
li::marker{
  color: white;
  display: none;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height:   3rem;
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  align-items: center;
  font-size: 1.5rem;
  box-shadow: 0px 0px 10px dimgrey;
  background: white;
  font-family: Oxygen;
}
 header h3 {
   padding-left: 13%;
   font-weight: 600;
   text-transform: capitalize;
   font-family: Lora;
}
.navlist {
  display: flex;
  gap: 1.3rem;
}
.navlist li a {
  text-decoration: none;
  font-weight: 400;
  text-transform: capitalize;
  color: black;
}
.navlist li a:hover{
  color: darkgray;
  transform: scale(0.9);
}
.iconslist {
  display: flex;
  gap: 1.4rem;
}
.iconslist li a {
  font-weight: 400;
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}
.iconslist li a:hover {
  transform: scale(0.9);
  color: darkgray;
}

/* Product Styles*/

#hero-section img {
  position: absolute;
  left: 75%;
  width: 600px;
  height: auto;
  top: 10%;
  color: white;
} 

.hero-caption {
  position: absolute;
  top: 8%;
  padding: 2rem;
}
.hero-caption h2 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.hero-caption h3 {
  position: absolute;
  top: 110%;
  left: 12%;
  font-size: 3rem;
}
.hero-caption .style {
  margin-top: 2px;
  margin-top: -1px;
  font-style: italic;
  color: darkslategray;
  font-weight: 600;
}
.hero-btn {
  border: 1px solid currentColor;
  background: black;
  color: white;
  display: inline-block;
  padding: .8rem;
}
.hero-btn:hover {
  background: ghostwhite;
  color: black;
}
#hero-btn1 {
  margin-bottom: .2px;
}
#arrow-btn {
  padding-left: 1rem;
  color: white;
}

/*New products*/

.new-release {
  position: absolute;
  top: 45%;
  left: 0;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
  grid-gap: 1.5rem;
  
}
.new-release h3 {
  text-align: center;
}
.products {
  position: relative;
}
.products img {
  width: 400px;
  height: 400px;
}
.rotate {
  transform: rotateY(180deg);
  width: 570px;
  height: 570px;
}
.products h4,.products h5{
  font-size: 2rem;
}

/* Most Popular Styles*/
#popular {
  position: absolute;
  top: 150%;
  padding: 2rem;
}
.pop-title {
  padding-left: 2rem;
  font-size: 3rem;
}
.wrapper {
  display: flex;
  gap: 1.8rem;
  overflow-x: auto;
  max-width: 1200px;
}
.mpopular h4,.mpopular h5 {
  font-size: 2rem;
}
.mpopular {
  position: relative;
}
.mpopular h4 {
  position: absolute;
  top: 81%;
}
.mpopular .price {
  left: 87%;
}
.mpopular i {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 2rem;
  color: black;
}
.mpopular i:hover{
  color: palevioletred;
}

/* New Arrivals styles */
#new-arrivals {
  position: absolute;
  top: 200%;
  left: 5%;
  padding: 2rem;
}
.new{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
#new-arrivals img {
  width: 550px;
  height: 550px;
}
.newarriv-title {
  font-size : 3rem;
  padding-left: 2rem;
}
.new h4 {
  font-size: 2rem;
}






















/* Responsive Design*/
@media (max-width: 720px){
  body {
    width: 100%;
  }
  header {
    width: 100vw;
    font-size: .5rem;
    position: fixed;
    left: 0;
    right: 0;
    height: 1rem;
    display: flex;
    justify-content: space-around;
  }
  
  .hero-caption h2 {
    font-size: 0.7rem;
  }
  
  
  
  
}
